# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.DS_Store
*/.DS_Store
*.pem

# local env files
.env*.local
.env*.global
.env

# typescript
*.tsbuildinfo
.vercel

# project planning
tasks/
project-plan/
docs/

# development build
android/
ios/